*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    background: #2C4A52;
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    }

.container {
    max-width: 900px;
    background: linear-gradient(to right bottom, 
    rgba(255, 255, 255, 0.4), 
    rgba(255, 255, 255, 0.01));
    border-radius: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    }

   .icons {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    /* background: chocolate; */
    }

 .education {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
    }

    .hobbies {
        width: 100%;
        word-wrap: break-word;
        position: relative;
        max-width: 100%;
        margin: 1px;
        align-items: center;
        font-family: "Slabo 27px";        
        }

 .work {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px; 
 }  

 .favorites {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";      
 }

 td {
    font-family: "Slabo 27px"; 
    border: 2px solid #2C4A52;
    padding: 5px 10px;
 }
 th {
    padding: 5px 10px;
 }
 .table1 {
     width: 100%;     
     border-collapse: collapse;
     border: 4px solid #2C4A52;
 }

.qualities {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
}

.skills {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
}
    
a {
    border-radius: 50%;
}

.top {
    display: flex;
    /* margin-bottom: 20px; */
    /* background: chocolate; */
   
}

.mainPhoto {
    max-width: 150px;
    border-radius: 28px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.25);
    
}

@media (max-width: 500px) {
.top{
    display: block;
    text-align: center;
}
}

.aboutMe {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    padding-left: 20px;
        
}

.lang {
    width: 30px;
    position:relative;
}

h1 {
    font-family: "Abril Fatface";
    }
    h3 {
        font-family: "Slabo 27px";
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

.png {
    max-width: 100%;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    
    }

    @media (max-width: 500px) {
        .png {
            padding-left: 2px;
            padding-right: 2px;
        }
        }

    @media (max-width: 700px) {
            .png {
                padding-left: 4px;
                padding-right: 4px;
            }
            }

    .png:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);     
    }

.mainPhoto:hover{
    box-shadow:
    1px 1px #537072,
    2px 2px #537072,
    3px 3px #537072,
    4px 4px #537072,
    5px 5px #537072,
    6px 6px #537072,
    7px 7px #537072;
  -webkit-transform: translateX(-7px);
  transform: translateX(-7px);
}

@font-face {
    font-family: "Slabo 27px"; 
    src: url("../fonts/Slabo27px-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
} 

    @font-face {
        font-family: "Abril Fatface"; 
        src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    } 