*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    
    }

.container {
    max-width: 900px;
    border-radius: 28px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    }

   .icons {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    /* background: chocolate; */
    }

 .education {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
    }

    .hobbies {
        width: 100%;
        word-wrap: break-word;
        position: relative;
        max-width: 100%;
        margin: 1px;
        align-items: center;
        font-family: "Slabo 27px";        
        }

 .work {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px; 
 }  

 .favorites {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";      
 }

 td {
    font-family: "Slabo 27px"; 
    padding: 5px 10px;
 }
 th {
    padding: 5px 10px;
 }
 .table1 {
     width: 100%;     
     border-collapse: collapse;
  }

.qualities {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
}

.skills {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    margin-left: 15px;
}
    
a {
    border-radius: 50%;
}

.top {
    display: flex;
    /* margin-bottom: 20px; */
    /* background: chocolate; */
   
}

.mainPhoto {
    max-width: 150px;
    border-radius: 28px;     
}

@media (max-width: 500px) {
.top{
    display: block;
    text-align: center;
}
}

.aboutMe {
    width: 100%;
    word-wrap: break-word;
    position: relative;
    max-width: 100%;
    margin: 1px;
    align-items: center;
    font-family: "Slabo 27px";
    padding-left: 20px;
        
}

.lang {
    width: 30px;
    position:relative;
}

h1 {
    font-family: "Abril Fatface";
    }
    h3 {
        font-family: "Slabo 27px";
        text-align: center;
        margin-bottom: 10px;
        margin-top: 10px;
    }

.png {
    max-width: 100%;
    align-items: center;
    padding-left: 7px;
    padding-right: 7px;
    
    }

    @media (max-width: 500px) {
        .png {
            padding-left: 2px;
            padding-right: 2px;
        }
        }

    @media (max-width: 700px) {
            .png {
                padding-left: 4px;
                padding-right: 4px;
            }
            }

    .png:hover {
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);     
    }

@font-face {
    font-family: "Slabo 27px"; 
    src: url("../fonts/Slabo27px-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
} 

    @font-face {
        font-family: "Abril Fatface"; 
        src: url("../fonts/AbrilFatface-Regular.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal;
    } 

    .theme {
        position: fixed;
        cursor: pointer;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        padding: 10px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(39,38,40,0.4);
    }

    .theme svg {
        cursor: pointer;
    }

    .changeTheme {
        width: 40px;
        height: 40px;
    }